---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description  %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
    {% if page.author %}
      <p class="post-author"><strong>Author:</strong> {{ page.author }}</p>
    {% endif %}
    {% if page.date %}
      <p class="post-date"><small>Published: {{ page.date | date: "%B %d, %Y" }}</small></p>
    {% endif %}
    {% if page.updated %}
      <p class="post-updated"><small>Updated: {{ page.updated | date: "%B %d, %Y" }}</small></p>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
